<div class="row">
    <div class="col-xs-7">
        <h1>Listing Role Types</h1> 
    </div>
    <div class="col-xs-3 mid-top-margin" >
        <%= link_to '', new_role_type_path, class: "btn add-new-btn glyphicon glyphicon-plus" %> &nbsp; Add New Role Type 
    </div>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Rolename</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @role_types.each do |role_type| %>
      <tr>
        <td><%= role_type.roleName %></td>

        <td>
            <div>
                <%= link_to '', role_type, class: "btn show-btn glyphicon glyphicon-eye-open", title: "Show" %>
                <%= link_to '', edit_role_type_path(role_type), class: "btn edit-btn glyphicon glyphicon-pencil", title: "Edit" %>
                <%= link_to '', role_type, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn destroy-btn glyphicon glyphicon-remove-sign", title: "Delete" %>
            </div>
        </td>
      </tr>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to '', new_role_type_path, class: "btn add-new-btn glyphicon glyphicon-plus" %> &nbsp; Add New Role Type 
