<p id="notice"><%= notice %></p>

<p>
  <strong>Rolename:</strong>
  <%= @role_type.roleName %>
</p>

<%= link_to '', role_types_path, class: "btn back-btn glyphicon glyphicon-arrow-left", title: "Back" %> &nbsp; Back &nbsp;   
<%= link_to '', edit_role_type_path(@role_type), class: "btn edit-btn glyphicon glyphicon-pencil", title: "Edit" %> &nbsp; Edit &nbsp; 
<%= link_to '', new_role_type_path, class: "btn add-new-btn glyphicon glyphicon-plus" %> &nbsp; Add New Role Type&nbsp;   

