<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstName %><br>
    <%= f.text_field :firstName %>
  </div>
  <div class="field">
    <%= f.label :lastName %><br>
    <%= f.text_field :lastName %>
  </div>

 <div class="field">
     <%= f.label :address %><br>
     <%= f.fields_for :address_people do |ap| %>
     <%= ap.collection_select(:address_id, Address.all, :id, :streetInfo, { include_blank: true } ) %>
     <% end %>
  </div>


  <div class="field">
    <%= f.label :role_types %><br>

   <% RoleType.all.each do |roleType| -%>
    <div>
        <%= check_box_tag :role_types_controller_ids, roleType.id, @person.role_types.include?(roleType), :name => 'person[role_type_ids][]' %>
      <%= label_tag :role_type_ids, roleType.roleName -%>
    </div>
  <% end -%>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
