<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% 
    # pick the selection value
    selectAddressValue = 0 
    if @person.address != nil 
        selectAddressValue = @person.address.id 
    end 

    selectPhoneValue = 0
    if @person.phone_number != nil
        selectPhoneValue  = @person.phone_number.id
    end

    selectEmailValue = 0
    if @person.email != nil
        selectEmailValue  = @person.email.id
    end

    selectNameTitleValue = 0
    if @person.name_title != nil
        selectNameTitleValue  = @person.name_title.id
    end

    selectExtValue = 0
    if @person.extension != nil
        selectExtValue  = @person.extension.id
    end

    selectRoomValue = 0
    if @person.room != nil
        selectRoomValue  = @person.room.id
    end

    selectDepartmentValue = 0
    if @person.department != nil
        selectDepartmentValue  = @person.department.id
    end


  %> 


  <div class="field">
     <%= f.label :name_title %><br>
     <%= f.fields_for :name_title_person do |ntp| %>
         <%= ntp.collection_select(:name_title_id, NameTitle.all, :id, :title, { :selected => selectNameTitleValue, include_blank: true }, { } ) %>
     <% end %>
  </div>


  <div class="field">
    <%= f.label :firstName %><br>
    <%= f.text_field :firstName %>
  </div>
  <div class="field">
    <%= f.label :lastName %><br>
    <%= f.text_field :lastName %>
  </div>
 <div class="field">
     <%= f.label :address %><br>
     <%= f.fields_for :address_person do |ap| %>
         <%= ap.collection_select(:address_id, Address.all, :id, :fullInfo, { :selected => selectAddressValue, include_blank: true }, { } ) %>
     <% end %>
  </div>

 <div class="field">
     <%= f.label :phone_number %><br>
     <%= f.fields_for :phone_number_person do |pn| %>
         <%= pn.collection_select(:phone_number_id, PhoneNumber.all, :id, :number, { :selected => selectPhoneValue, include_blank: true }, { } ) %>
     <% end %>
  </div>

 <div class="field">
     <%= f.label :email %><br>
     <%= f.fields_for :email_person do |em| %>
         <%= em.collection_select(:email_id, Email.all, :id, :email, { :selected => selectEmailValue, include_blank: true }, { } ) %>
     <% end %>
  </div>

 <div class="field">
     <%= f.label :room %><br>
     <%= f.fields_for :room_person do |em| %>
         <%= em.collection_select(:room_id, Room.all, :id, :room, { :selected => selectRoomValue, include_blank: true }, { } ) %>
     <% end %>
  </div>

<div class="field">
     <%= f.label :department %><br>
     <%= f.fields_for :department_person do |em| %>
         <%= em.collection_select(:department_id, Department.all, :id, :name, { :selected => selectDepartmentValue, include_blank: true }, { } ) %>
     <% end %>
  </div>



  <div class="field">
    <%= f.label :role_types %><br>

   <% RoleType.all.each do |roleType| -%>
    <div>
        <%= check_box_tag :role_types_controller_ids, roleType.id, @person.role_types.include?(roleType), :name => 'person[role_type_ids][]' %>
      <%= label_tag :role_type_ids, roleType.roleName -%>
    </div>
  <% end -%>

 <div class="field">
     <%= f.label :extension %><br>
     <%= f.fields_for :extension_person do |ex| %>
         <%= ex.collection_select(:extension_id, Extension.all, :id, :ext, { :selected => selectExtValue, include_blank: true }, { } ) %>
     <% end %>
  </div>


  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
