<p id="notice"><%= notice %></p>

<p>
  <strong>Name Title</strong>
  <% if @person.name_title != nil %>
    <%= @person.name_title.title %>
  <% else %>
    None
  <% end %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @person.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @person.lastName %>
</p>

<p>
  <strong>Address</strong>
  <% if @person.address != nil %>
    <%= @person.address.streetInfo %>
  <% else %>
    None
  <% end %>
</p>

<p>
  <strong>Phone Number</strong>
  <% if @person.phone_number != nil %>
    <%= @person.phone_number.number %>
  <% else %>
    None
  <% end %>
</p>

<p>
  <strong>Email</strong>
  <% if @person.email != nil %>
    <%= @person.email.email %>
  <% else %>
    None
  <% end %>
</p>


<p>
<strong>Role Types</strong><br>
  <%= @person.role_types.map(&:roleName).join(', ') %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
