<%= form_for(@family) do |f| %>
  <% if @family.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@family.errors.count, "error") %> prohibited this family from being saved:</h2>

      <ul>
      <% @family.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :familyName %><br>
    <%= f.text_field :familyName %>
  </div>

  <%
    selectedParents = @family.parents.ids
  %>

<div class="row">
    <div class="col-xs-5">
  <div class="field">
     Parents<br>
     <%= select_tag 'family_parents[]', options_from_collection_for_select(Person.joins(:role_types).where(role_types: {roleName: 'Parent'}), :id, :fullName, selectedParents), multiple: true, size: '10%', id: 'parentlist' %>
 </div>
 </div>
 </div>

 <script> gen_duallistbox('#parentlist'); </script>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
