<%= form_for(@family) do |f| %>
  <% if @family.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@family.errors.count, "error") %> prohibited this family from being saved:</h2>

      <ul>
      <% @family.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :familyName %><br>
    <%= f.text_field :familyName %>
  </div>

  <%
    selectedParents = 0
  %>


 <div class="field">
     Parents<br>
     <%= f.fields_for :family_parent do |fp| %>
         <%= fp.collection_select(:person_id, Person.joins(:role_types).where(role_types: {roleName: 'Parent'}), :id, :fullName, { :selected => selectedParents, include_blank: true }, { :multiple => true } ) %>
     <% end %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
