<p id="notice"><%= notice %></p>

<p>
  <strong>Familyname:</strong>
  <%= @family.familyName %>
</p>


<%= link_to '', families_path, class: "btn back-btn glyphicon glyphicon-arrow-left", title: "Back" %> &nbsp; Back &nbsp;   
<%= link_to '', edit_family_path(@family), class: "btn edit-btn glyphicon glyphicon-pencil", title: "Edit" %> &nbsp; Edit &nbsp; 
<%= link_to '', new_family_path, class: "btn add-new-btn glyphicon glyphicon-plus" %> &nbsp; Add New Family &nbsp;   

