<%= form_for(@grade_level) do |f| %>
  <% if @grade_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grade_level.errors.count, "error") %> prohibited this grade_level from being saved:</h2>

      <ul>
      <% @grade_level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% 
        selectedTeachers = []

        selectedTeacherRow = GradeLevelTeacher.where(:teacher_id => @grade_level.id)
        selectedTeacherRow.each do |str|
            selectedTeachers.push(str.teacher_id)
        end
  %>


  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="row">
    <div class="field">
     <%= f.label "Teachers" %><br>

     <div class="col-xs-5">
     <%= select_tag 'grade_level[teacher_ids][]', options_from_collection_for_select( Person.joins(:role_types).where(role_types: {roleName: 'Teacher'}), :id, :fullName, selectedTeachers), multiple: true, size: '10%', id: 'teacherlist' %>
     <script> gen_duallistbox('#teacherlist'); </script>
    </div>
 </div>
 </div>
    
 <br>
 <div class="row">
  <div class="actions">
     <%= f.submit %>
  </div>
  </div>
<% end %>
