<%= form_for(@grade_level) do |f| %>
  <% if @grade_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grade_level.errors.count, "error") %> prohibited this grade_level from being saved:</h2>

      <ul>
      <% @grade_level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>


 <div class="field">
     <%= f.label "Teachers" %><br>

     <%   Person.joins(:role_types).where(role_types: {roleName: 'Teacher'}).each do |teacher| -%>
    <div>
        <%= check_box_tag :people_controller_ids, teacher.id, @grade_level.people.include?(teacher), :name => 'grade_level[person_ids][]' %>
      <%= label_tag :person_ids, teacher.fullName -%>
    </div>
  <% end -%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
