<h1>Listing grade_levels</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Teacher(s)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grade_levels.each do |grade_level| %>
      <tr>
        <td><%= grade_level.number %></td>
        <td><%= grade_level.name %></td>
        <% if grade_level.people != nil %>
        <td><%= grade_level.people.map(&:fullName).join(', ') %></td>
    <% else %>
        <td>None</td>
    <% end %>
        <td><%= link_to 'Show', grade_level %></td>
        <td><%= link_to 'Edit', edit_grade_level_path(grade_level) %></td>
        <td><%= link_to 'Destroy', grade_level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '', new_grade_level_path, class: "btn btn-success glyphicon glyphicon-plus" %> &nbsp; Add New Grade Level
