<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @grade_level.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @grade_level.name %>
</p>

<p>
  <strong>Teachers:</strong>
  <% if @grade_level.teachers != nil %>
     <%= @grade_level.teachers.map(&:fullName).join(', ') %></td>
  <% else %>
      None
  <% end %>
</p>


<%= link_to '', grade_levels_path, class: "btn back-btn glyphicon glyphicon-arrow-left", title: "Back" %> &nbsp; Back &nbsp;   
<%= link_to '', edit_grade_level_path(@grade_level), class: "btn edit-btn glyphicon glyphicon-pencil", title: "Edit" %> &nbsp; Edit &nbsp; 
<%= link_to '', new_grade_level_path, class: "btn add-new-btn glyphicon glyphicon-plus" %> &nbsp; Add New Grade Level &nbsp;   


