<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @grade_level.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @grade_level.name %>
</p>

<p>
  <strong>Teachers:</strong>
  <% if @grade_level.people != nil %>
     <%= @grade_level.people.map(&:fullName).join(', ') %></td>
  <% else %>
      None
  <% end %>
</p>

<%= link_to 'Edit', edit_grade_level_path(@grade_level) %> |
<%= link_to 'Back', grade_levels_path %>
