
<ul class="nav list-group">
    <li><%= link_to 'People', people_path, class: "list-group-item" %></li>
    <li><%= link_to 'Genders', genders_path , class: "list-group-item" %></li>
    <li><%= link_to 'Name Titles', name_titles_path , class: "list-group-item" %></li>
    <li><%= link_to 'Roles', role_types_path , class: "list-group-item" %></li>
    <li><%= link_to 'Addresses', addresses_path , class: "list-group-item" %></li>
    <li><%= link_to 'Phone Numbers', phone_numbers_path , class: "list-group-item" %></li>
    <li><%= link_to 'Emails', emails_path , class: "list-group-item" %></li>
    <li><%= link_to 'Grade Levels', grade_levels_path , class: "list-group-item" %></li>
    <li><%= link_to 'Rooms', rooms_path , class: "list-group-item" %></li>
    <li><%= link_to 'Extensions', extensions_path , class: "list-group-item" %></li>
    <li><%= link_to 'Positions', positions_path , class: "list-group-item" %></li>
    <li><%= link_to 'Departments', departments_path , class: "list-group-item" %></li>
    <li><%= link_to 'Student Class Groups', student_classes_path , class: "list-group-item" %></li>
</ul>
