<%= render 'statics/common_links' %><br>

<h1>Home Page</h1>

<table>
    <tr><td><%= link_to 'People', people_path %></td></tr>
    <tr><td><%= link_to 'Roles', role_types_path %></td></tr>
    <tr><td><%= link_to 'Addresses', addresses_path %></td></tr>
    <tr><td><%= link_to 'Phone Numbers', phone_numbers_path %></td></tr>
    <tr><td><%= link_to 'Emails', emails_path %></td></tr>
</table>
