<%= render 'statics/common_links' %><br>

<h1>Home Page</h1>

<table>
    <tr><td><%= link_to 'People', people_path %></td></tr>
    <tr><td><%= link_to 'Genders', genders_path %></td></tr>
    <tr><td><%= link_to 'Name Titles', name_titles_path %></td></tr>
    <tr><td><%= link_to 'Roles', role_types_path %></td></tr>
    <tr><td><%= link_to 'Addresses', addresses_path %></td></tr>
    <tr><td><%= link_to 'Phone Numbers', phone_numbers_path %></td></tr>
    <tr><td><%= link_to 'Emails', emails_path %></td></tr>
    <tr><td><%= link_to 'Grade Levels', grade_levels_path %></td></tr>
    <tr><td><%= link_to 'Rooms', rooms_path %></td></tr>
    <tr><td><%= link_to 'Extensions', extensions_path %></td></tr>
    <tr><td><%= link_to 'Positions', positions_path %></td></tr>
    <tr><td><%= link_to 'Departments', departments_path %></td></tr>
</table>
