
<div class="row">
    <div class="col-xs-7">
        <h1>Listing addresses</h1> 
    </div>
    <div class="col-xs-3 mid-top-margin" >
        <%= link_to '', new_address_path, class: "btn btn-success glyphicon glyphicon-plus" %> &nbsp; Add New Address
    </div>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Streetinfo</th>
      <th>Additional1</th>
      <th>Additional2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.streetInfo %></td>
        <td><%= address.additional1 %></td>
        <td><%= address.additional2 %></td>
        <td><%= address.city %></td>
        <td><%= address.state %></td>
        <td><%= address.zip %></td>
        <td>
            <div>
                <%= link_to '', address, class: "btn show-btn glyphicon glyphicon-eye-open", title: "Show" %>
                <%= link_to '', edit_address_path(address), class: "btn edit-btn glyphicon glyphicon-pencil", title: "Edit" %>
                <%= link_to '', address, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn destroy-btn glyphicon glyphicon-remove-sign", title: "Delete" %>
            </div>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '', new_address_path, class: "btn btn-success glyphicon glyphicon-plus" %> &nbsp; Add New Address

