<p id="notice"><%= notice %></p>

<p>
  <strong>Streetinfo:</strong>
  <%= @address.streetInfo %>
</p>

<p>
  <strong>Additional1:</strong>
  <%= @address.additional1 %>
</p>

<p>
  <strong>Additional2:</strong>
  <%= @address.additional2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @address.zip %>
</p>


<%= link_to '', addresses_path, class: "btn back-btn glyphicon glyphicon-arrow-left", title: "Back" %> &nbsp; Back &nbsp;   
<%= link_to '', edit_address_path(@address), class: "btn edit-btn glyphicon glyphicon-pencil", title: "Edit" %> &nbsp; Edit &nbsp; 
<%= link_to '', new_address_path, class: "btn add-new-btn glyphicon glyphicon-plus" %> &nbsp; Add New Address &nbsp;   
