<%= form_for(@student_class) do |f| %>
  <% if @student_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_class.errors.count, "error") %> prohibited this student_class from being saved:</h2>

      <ul>
      <% @student_class.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :grade_level_teacher_id %><br>
    <%= f.collection_select(:grade_level_teacher_id, GradeLevelTeacher.all, :id, :fullInfo, { :selected => @student_class.grade_level_teacher_id, include_blank: true }, { } ) %>
  </div>

  <% 
      selectedStudents = @student_class.students.ids 
  %>


<div class="row">
<div class="col-xs-5">
 <div class="field">
     <%= f.label :class_members %>
     <%= select_tag 'class_members[]', options_from_collection_for_select(Person.joins(:role_types).where(role_types: {roleName: 'Student'}), :id, :fullName, selectedStudents), multiple: true, size: '10%', id: 'studentlist' %>
</div>
</div>
</div>

 <script> gen_duallistbox('#studentlist'); </script>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

