<h1>Listing student_classes</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Grade level teacher</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_classes.each do |student_class| %>
      <tr>
        <td><%= student_class.grade_level_teacher %></td>

        <td>
            <div>
                <%= link_to '', student_class, class: "btn show-btn glyphicon glyphicon-eye-open", title: "Show" %>
                <%= link_to '', edit_student_class_path(student_class), class: "btn edit-btn glyphicon glyphicon-pencil", title: "Edit" %>
                <%= link_to '', student_class, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn destroy-btn glyphicon glyphicon-remove-sign", title: "Delete" %>
            </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '', new_student_class_path, class: "btn add-new-btn glyphicon glyphicon-plus" %> &nbsp; Add New Student Class 
