<p id="notice"><%= notice %></p>

<p>
  <strong>Grade level teacher:</strong>
  <%= @student_class.grade_level_teacher.fullInfo %>
</p>


<%= link_to '', student_classes_path, class: "btn back-btn glyphicon glyphicon-arrow-left", title: "Back" %> &nbsp; Back &nbsp;   
<%= link_to '', edit_student_class_path(@student_class), class: "btn edit-btn glyphicon glyphicon-pencil", title: "Edit" %> &nbsp; Edit &nbsp; 
<%= link_to '', new_student_class_path, class: "btn add-new-btn glyphicon glyphicon-plus" %> &nbsp; Add New Student Class&nbsp;   
